/* * _________Configuraciones generales______*/
*{
    margin: 0;
    padding: 0;
}
/* ____________________________________________________ */
/* ? ___________Cabecera_______________________ */
header{
    text-align: center;
    background-color: #6E4649;
    color: white;
    height: 100px;
}
.header__buttons{
    margin: 20px 20px;
}

.header__btn{
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    transition: opacity 0.5s ease;
    opacity: 1;
}
.header__btn:hover{
cursor: pointer;
opacity: 0.5;
color: black;
}
.header__btn--start{
    background-color: #0DA2F0;
}
.header__btn--stop {
    background-color: #F00010;
}
.header__btn--clear {
    background-color: #EDE821;
}
/* ?__________________________________________ */

/* TODO_________________Contenido Principal_______________ */
#gameBoard {
    display: grid;
    justify-content: center;
    background-color: #46606E;
}

.cell{
    border: 1px solid #CCC;
    background-color: white;

}

.cell.live{
    background-color: black;
}
/* TODO __________________________________________ */

.header__btn--next {
    background-color: #67A42B;
}